/* CSS HEX */
--viridian: #6b9080ff;
--cambridge-blue: #a4c3b2ff;
--mint-green: #cce3deff;
--azure-web: #eaf4f4ff;
--mint-cream: #f6fff8ff;

/* CSS HSL */
--viridian: hsla(154, 15%, 49%, 1);
--cambridge-blue: hsla(147, 21%, 70%, 1);
--mint-green: hsla(167, 29%, 85%, 1);
--azure-web: hsla(180, 31%, 94%, 1);
--mint-cream: hsla(133, 100%, 98%, 1);

/* SCSS HEX */
viridian: #6b9080ff;
cambridge-blue: #a4c3b2ff;
mint-green: #cce3deff;
azure-web: #eaf4f4ff;
mint-cream: #f6fff8ff;

/* SCSS HSL */
viridian: hsla(154, 15%, 49%, 1);
cambridge-blue: hsla(147, 21%, 70%, 1);
mint-green: hsla(167, 29%, 85%, 1);
azure-web: hsla(180, 31%, 94%, 1);
mint-cream: hsla(133, 100%, 98%, 1);

/* SCSS RGB */
viridian: rgba(107, 144, 128, 1);
cambridge-blue: rgba(164, 195, 178, 1);
mint-green: rgba(204, 227, 222, 1);
azure-web: rgba(234, 244, 244, 1);
mint-cream: rgba(246, 255, 248, 1);

/* SCSS Gradient */
gradient-top: linear-gradient(0deg, #6b9080ff, #a4c3b2ff, #cce3deff, #eaf4f4ff, #f6fff8ff);
gradient-right: linear-gradient(90deg, #6b9080ff, #a4c3b2ff, #cce3deff, #eaf4f4ff, #f6fff8ff);
gradient-bottom: linear-gradient(180deg, #6b9080ff, #a4c3b2ff, #cce3deff, #eaf4f4ff, #f6fff8ff);
gradient-left: linear-gradient(270deg, #6b9080ff, #a4c3b2ff, #cce3deff, #eaf4f4ff, #f6fff8ff);
gradient-top-right: linear-gradient(45deg, #6b9080ff, #a4c3b2ff, #cce3deff, #eaf4f4ff, #f6fff8ff);
gradient-bottom-right: linear-gradient(135deg, #6b9080ff, #a4c3b2ff, #cce3deff, #eaf4f4ff, #f6fff8ff);
gradient-top-left: linear-gradient(225deg, #6b9080ff, #a4c3b2ff, #cce3deff, #eaf4f4ff, #f6fff8ff);
gradient-bottom-left: linear-gradient(315deg, #6b9080ff, #a4c3b2ff, #cce3deff, #eaf4f4ff, #f6fff8ff);
gradient-radial: radial-gradient(#6b9080ff, #a4c3b2ff, #cce3deff, #eaf4f4ff, #f6fff8ff);